


<form class="form-horizontal" style="border:3px solid #e6e6e6" method="post">

    <fieldset>
        <legend>Log In</legend>
        <div class="form-group">
            <label for="inputemail" class="col-sm-offset-2 col-sm-2 control-label">Email</label>
            <div class="col-sm-6" style="padding: 12px 20px">
                <input type="email" name="email" id="inputemail" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword" class="col-sm-offset-2 col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" name="password" id="inputpassword" class="form-control" placeholder="password" required>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </fieldset>
</form>

