@{ 
       ViewBag.Title = "Account Created";
}

<h1 class="text-success">Almost there!</h1>

<h3 class="text-success">Your account has been created successfully and we have sent you a conformation email. Please follow the link in email to continue the sign up process.</h3>
