@model WebApplication4.Models.Account


@{ 
    ViewBag.Title = "User Account";
}

<table class="table-bordered">
    <tr>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
    </tr>
</table>