

    <content>
        <div class="well">
            <form action="/home/show" method="post">
                <fieldset>
                    <legend>Student</legend>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="roll">Roll#</label>
                        <input type="number" name="roll" id="roll" class="form-control" />
                    </div>
                    <br /><br /><br />

                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </content>
 
