

    <content>
        <div class="well">
            <form action="/home/show" method="post">
                <fieldset>
                    <legend>Student</legend>

                    


                </fieldset>
            </form>
        </div>
    </content>
 
