
    <table class="table-bordered">
        <tr>
            <th>Name</th>
            <th>Roll#</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Roll</td>
        </tr>
    </table>
